.grid1 {
    padding:"4.7% 10%";
}

.paperstyle {
    height:"80vh";
    width:"80vw"; 
    Color: "#ffffff";
    display: "grid"; 
    grid: 
    'search chat_title' 71px
    'conversation_list chat_message_list' 1fr
    'message_container chat_form' 78px/ 275px 1fr; 
}

    